@page "/"

<PageTitle>Vizor ECharts Demo</PageTitle>

<h1>Vizor ECharts Demo</h1>

<span>Version @GetLibVersion()</span>

@code {

	string GetLibVersion()
	{
		return typeof(ChartOptions).Assembly.GetName().Version!.ToString();
	}
}