<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="pactsoftware" value="https://pkgs.dev.azure.com/pactsoftware/_packaging/pactsoftware/nuget/v3/index.json" />
    <add key="localstore" value="/Users/paul/nuget_store" />
  </packageSources>
</configuration>