@using Microsoft.JSInterop;
@using System.Text.Json;
@using Vizor.ECharts.Options;

@typeparam TData
@namespace Vizor.ECharts

@inject IJSRuntime jsRuntime
@implements IAsyncDisposable

<div id="@Id" class="@CssClass" style="@Style"></div>

@code {

	[Parameter]
	public string Id { get; set; } = "chart-" + Guid.NewGuid().ToString();

	[Parameter]
	public string? CssClass { get; set; }

	[Parameter]
	public string? Style { get; set; }

	[Parameter]
	public string? Width { get; set; }

	[Parameter]
	public string? Height { get; set; }

	[Parameter]
	public string? Theme { get; set; }

	[Parameter, EditorRequired]
	public ChartOptions<TData> Options { get; set; } = default!;

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		// echarts.init the very first time the component is rendered

		if (!firstRender)
			return;

		if (Options == null)
			throw new ArgumentException("Options property must be set");
		if (string.IsNullOrWhiteSpace(Id))
			throw new ArgumentException("Id property must be set");

		var jsonOpts = new JsonSerializerOptions()
			{
				PropertyNamingPolicy = JsonNamingPolicy.CamelCase,
				DefaultIgnoreCondition = System.Text.Json.Serialization.JsonIgnoreCondition.WhenWritingNull,
#if DEBUG
					WriteIndented = true
#endif
			};
		jsonOpts.Converters.Add(new Vizor.ECharts.Options.Series.Pie.PieRadiusConverter());

		var opts = JsonSerializer.Serialize(Options, jsonOpts);

		await jsRuntime.InvokeVoidAsync("vizorECharts.initChart", Id, opts, Theme, Width, Height);
	}

	public async ValueTask DisposeAsync()
	{
		await jsRuntime.InvokeVoidAsync("vizorECharts.disposeChart", Id);
	}
}
