<div>
	<h2>@Title</h2>
	<Vizor.ECharts.Demo.Components.GithubLink ChartType="@ChartType" />
	@if (SubTitle != null)
	{
		<br />
		<span class="text-muted">@SubTitle</span>
	}
</div>
<hr />
<br />

@code {

	[Parameter, EditorRequired]
	public string Title { get; set; } = default!;

	[Parameter]
	public string? SubTitle { get; set; }

	[Parameter, EditorRequired]
	public Type ChartType { get; set; } = default!;
}
