@using System.Text.Json.Serialization;
@using Vizor.ECharts;
@using Microsoft.AspNetCore.Components.Web;

@if (isInitialized)
{
	<div class="btn btn-primary" @onclick="Refresh">Refresh</div>
	<Vizor.ECharts.EChart Options="@mapOptions" Maps="maps" ExternalDataSources="@(new[] { mapSource })" Width="1000px" Height="1000px" @ref="@chart" />
}

@code {

	private EChart? chart = null;
	private ExternalDataSource? mapSource = null;
	private IMapDefinition[]? maps = null;
	private bool isInitialized = false;

	// Geo data: https://github.com/bmesuere/belgium-topojson

	protected override void OnInitialized()
	{
		mapSource = new("/data/BE_mun.json");

		maps = new[]
		{
			new GeoMapDefinition("BE", mapSource)
	};

		isInitialized = true;
	}

	private ChartOptions mapOptions = new()
	{
		Tooltip = new()
		{
		},
		Series = new()
		{
			new MapSeries()
			{
				Id = "population",
				Roam = Roam.True,
				Map = "BE",
				ItemStyle = new()
				{
					AreaColor = "white",
				}
			}
		}
	};

	private async Task Refresh()
	{
		if (chart != null)
			await chart.UpdateAsync();
	}
}
