<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
	<div class="position-sticky">

		<ul class="list-unstyled ps-0">

			<!-- See https://tabler-icons.io/ for icons -->

			<!-- Pie -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#pie-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-pie" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M10 3.2a9 9 0 1 0 10.8 10.8a1 1 0 0 0 -1 -1h-6.8a2 2 0 0 1 -2 -2v-7a.9 .9 0 0 0 -1 -.8"></path>
						<path d="M15 3.5a9 9 0 0 1 5.5 5.5h-4.5a1 1 0 0 1 -1 -1v-4.5"></path>
					</svg>
					<span class="ms-1">Pie</span>
				</button>
				<div class="collapse" id="pie-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/pie/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/pie/half-doughnut" class="link-dark d-inline-flex text-decoration-none">Half Doughnut</a></li>
						<li><a href="/example/pie/doughnut-rounded" class="link-dark d-inline-flex text-decoration-none">Doughnut Rounded</a></li>
						
					</ul>
				</div>
			</li>


			<!-- Line -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#line-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-line" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M4 19l16 0"></path>
						<path d="M4 15l4 -6l4 2l4 -5l4 4"></path>
					</svg>
					<span class="ms-1">Line</span>
				</button>
				<div class="collapse" id="line-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/line/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/line/stacked" class="link-dark d-inline-flex text-decoration-none">Stacked</a></li>
						<li><a href="/example/line/smooth" class="link-dark d-inline-flex text-decoration-none">Smooth</a></li>
					</ul>
				</div>
			</li>

			<!-- Area -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#area-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-area-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M20 18a1 1 0 0 1 .117 1.993l-.117 .007h-16a1 1 0 0 1 -.117 -1.993l.117 -.007h16z" stroke-width="0" fill="currentColor"></path>
						<path d="M15.22 5.375a1 1 0 0 1 1.393 -.165l.094 .083l4 4a1 1 0 0 1 .284 .576l.009 .131v5a1 1 0 0 1 -.883 .993l-.117 .007h-16.022l-.11 -.009l-.11 -.02l-.107 -.034l-.105 -.046l-.1 -.059l-.094 -.07l-.06 -.055l-.072 -.082l-.064 -.089l-.054 -.096l-.016 -.035l-.04 -.103l-.027 -.106l-.015 -.108l-.004 -.11l.009 -.11l.019 -.105c.01 -.04 .022 -.077 .035 -.112l.046 -.105l.059 -.1l4 -6a1 1 0 0 1 1.165 -.39l.114 .05l3.277 1.638l3.495 -4.369z" stroke-width="0" fill="currentColor"></path>
					</svg>
					<span class="ms-1">Area</span>
				</button>
				<div class="collapse" id="area-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/area/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/area/stacked" class="link-dark d-inline-flex text-decoration-none">Stacked</a></li>
					</ul>
				</div>
			</li>

			<!-- Bar -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#bar-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-bar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M3 12m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
						<path d="M9 8m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
						<path d="M15 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
						<path d="M4 20l14 0"></path>
					</svg>
					<span class="ms-1">Bar</span>
				</button>
				<div class="collapse" id="bar-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/bar/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/bar/stacked-h" class="link-dark d-inline-flex text-decoration-none">Stacked (Horizontal)</a></li>
					</ul>
				</div>
			</li>

			<!-- Candlestick -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#candlestick-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-candle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M4 6m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
						<path d="M6 4l0 2"></path>
						<path d="M6 11l0 9"></path>
						<path d="M10 14m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
						<path d="M12 4l0 10"></path>
						<path d="M12 19l0 1"></path>
						<path d="M16 5m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
						<path d="M18 4l0 1"></path>
						<path d="M18 11l0 9"></path>
					</svg>
					<span class="ms-1">Candlestick</span>
				</button>
				<div class="collapse" id="candlestick-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/candlestick/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/candlestick/TODO" class="link-dark d-inline-flex text-decoration-none">TODO</a></li>
					</ul>
				</div>
			</li>

			<!-- Scatter -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#scatter-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M3 3v18h18"></path>
						<path d="M9 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M19 7m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M14 15m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M10.16 10.62l2.34 2.88"></path>
						<path d="M15.088 13.328l2.837 -4.586"></path>
					</svg>
					<span class="ms-1">Scatter</span>
				</button>
				<div class="collapse" id="scatter-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/scatter/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/scatter/cluster" class="link-dark d-inline-flex text-decoration-none">Cluster</a></li>
					</ul>
				</div>
			</li>

			<!-- Radar -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#radar-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-radar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M12 3l9.5 7l-3.5 11h-12l-3.5 -11z"></path>
						<path d="M12 7.5l5.5 4l-2.5 5.5h-6.5l-2 -5.5z"></path>
						<path d="M2.5 10l9.5 3l9.5 -3"></path>
						<path d="M12 3v10l6 8"></path>
						<path d="M6 21l6 -8"></path>
					</svg>
					<span class="ms-1">Radar</span>
				</button>
				<div class="collapse" id="radar-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/radar/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Sunburst -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#sunburst-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-arcs" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M16.924 11.132a5 5 0 1 0 -4.056 5.792"></path>
						<path d="M3 12a9 9 0 1 0 9 -9"></path>
					</svg>
					<span class="ms-1">Sunburst</span>
				</button>
				<div class="collapse" id="sunburst-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/sunburst/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>
			

			<!-- Sankey -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#sankey-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-sankey" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M3 3v18h18"></path>
						<path d="M3 6h18"></path>
						<path d="M3 8c10 0 8 9 18 9"></path>
					</svg>
					<span class="ms-1">Sankey</span>
				</button>
				<div class="collapse" id="sankey-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/sankey/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/sankey/TODO" class="link-dark d-inline-flex text-decoration-none">TODO</a></li>
					</ul>
				</div>
			</li>

			<!-- Treemap -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#treemap-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-treemap" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
						<path d="M12 4v16"></path>
						<path d="M4 15h8"></path>
						<path d="M12 12h8"></path>
						<path d="M16 12v8"></path>
						<path d="M16 16h4"></path>
					</svg>
					<span class="ms-1">Treemap</span>
				</button>
				<div class="collapse" id="treemap-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/treemap/TODO" class="link-dark d-inline-flex text-decoration-none">TODO</a></li>
						<li><a href="/example/treemap/TODO" class="link-dark d-inline-flex text-decoration-none">TODO</a></li>
					</ul>
				</div>
			</li>

			<!-- Gauge -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#gauge-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-gauge" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
						<path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M13.41 10.59l2.59 -2.59"></path>
						<path d="M7 12a5 5 0 0 1 5 -5"></path>
					</svg>
					<span class="ms-1">Gauge</span>
				</button>
				<div class="collapse" id="gauge-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/gauge/temp" class="link-dark d-inline-flex text-decoration-none">Temperature</a></li>
						<li><a href="/example/gauge/TODO" class="link-dark d-inline-flex text-decoration-none">TODO</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</nav>