<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
	<div class="position-sticky">

		<ul class="list-unstyled ps-0">

			<!-- See https://tabler-icons.io/ for icons -->

			<!-- Pie -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#pie-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-pie" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M10 3.2a9 9 0 1 0 10.8 10.8a1 1 0 0 0 -1 -1h-6.8a2 2 0 0 1 -2 -2v-7a.9 .9 0 0 0 -1 -.8"></path>
						<path d="M15 3.5a9 9 0 0 1 5.5 5.5h-4.5a1 1 0 0 1 -1 -1v-4.5"></path>
					</svg>
					<span class="ms-1">Pie</span>
				</button>
				<div class="collapse" id="pie-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/pie/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/pie/half-doughnut" class="link-dark d-inline-flex text-decoration-none">Half Doughnut</a></li>
						<li><a href="/example/pie/doughnut-rounded" class="link-dark d-inline-flex text-decoration-none">Doughnut Rounded</a></li>
						
					</ul>
				</div>
			</li>


			<!-- Line -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#line-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-line" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M4 19l16 0"></path>
						<path d="M4 15l4 -6l4 2l4 -5l4 4"></path>
					</svg>
					<span class="ms-1">Line</span>
				</button>
				<div class="collapse" id="line-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/line/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/line/stacked" class="link-dark d-inline-flex text-decoration-none">Stacked</a></li>
						<li><a href="/example/line/smooth" class="link-dark d-inline-flex text-decoration-none">Smooth</a></li>
					</ul>
				</div>
			</li>

			<!-- Area -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#area-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-area-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M20 18a1 1 0 0 1 .117 1.993l-.117 .007h-16a1 1 0 0 1 -.117 -1.993l.117 -.007h16z" stroke-width="0" fill="currentColor"></path>
						<path d="M15.22 5.375a1 1 0 0 1 1.393 -.165l.094 .083l4 4a1 1 0 0 1 .284 .576l.009 .131v5a1 1 0 0 1 -.883 .993l-.117 .007h-16.022l-.11 -.009l-.11 -.02l-.107 -.034l-.105 -.046l-.1 -.059l-.094 -.07l-.06 -.055l-.072 -.082l-.064 -.089l-.054 -.096l-.016 -.035l-.04 -.103l-.027 -.106l-.015 -.108l-.004 -.11l.009 -.11l.019 -.105c.01 -.04 .022 -.077 .035 -.112l.046 -.105l.059 -.1l4 -6a1 1 0 0 1 1.165 -.39l.114 .05l3.277 1.638l3.495 -4.369z" stroke-width="0" fill="currentColor"></path>
					</svg>
					<span class="ms-1">Area</span>
				</button>
				<div class="collapse" id="area-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/area/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/area/stacked" class="link-dark d-inline-flex text-decoration-none">Stacked</a></li>
						<li><a href="/example/area/timeseries" class="link-dark d-inline-flex text-decoration-none">TimeSeries</a></li>
					</ul>
				</div>
			</li>

			<!-- Bar -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#bar-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-bar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M3 12m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
						<path d="M9 8m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
						<path d="M15 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
						<path d="M4 20l14 0"></path>
					</svg>
					<span class="ms-1">Bar</span>
				</button>
				<div class="collapse" id="bar-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/bar/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/bar/stacked-h" class="link-dark d-inline-flex text-decoration-none">Stacked (Horizontal)</a></li>
						<li><a href="/example/bar/stacked-timeseries" class="link-dark d-inline-flex text-decoration-none">Stacked TimeSeries</a></li>
						<li><a href="/example/bar/simple-dataset" class="link-dark d-inline-flex text-decoration-none">Simple Dataset</a></li>
					</ul>
				</div>
			</li>

			<!-- Candlestick -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#candlestick-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-candle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M4 6m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
						<path d="M6 4l0 2"></path>
						<path d="M6 11l0 9"></path>
						<path d="M10 14m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
						<path d="M12 4l0 10"></path>
						<path d="M12 19l0 1"></path>
						<path d="M16 5m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
						<path d="M18 4l0 1"></path>
						<path d="M18 11l0 9"></path>
					</svg>
					<span class="ms-1">Candlestick</span>
				</button>
				<div class="collapse" id="candlestick-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/candlestick/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Scatter -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#scatter-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M3 3v18h18"></path>
						<path d="M9 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M19 7m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M14 15m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M10.16 10.62l2.34 2.88"></path>
						<path d="M15.088 13.328l2.837 -4.586"></path>
					</svg>
					<span class="ms-1">Scatter</span>
				</button>
				<div class="collapse" id="scatter-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/scatter/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/scatter/cluster" class="link-dark d-inline-flex text-decoration-none">Cluster</a></li>
						<li><a href="/example/scatter/punchcard" class="link-dark d-inline-flex text-decoration-none">Punch Card</a></li>
					</ul>
				</div>
			</li>

			<!-- Radar -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#radar-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-radar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M12 3l9.5 7l-3.5 11h-12l-3.5 -11z"></path>
						<path d="M12 7.5l5.5 4l-2.5 5.5h-6.5l-2 -5.5z"></path>
						<path d="M2.5 10l9.5 3l9.5 -3"></path>
						<path d="M12 3v10l6 8"></path>
						<path d="M6 21l6 -8"></path>
					</svg>
					<span class="ms-1">Radar</span>
				</button>
				<div class="collapse" id="radar-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/radar/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Sunburst -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#sunburst-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-arcs" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M16.924 11.132a5 5 0 1 0 -4.056 5.792"></path>
						<path d="M3 12a9 9 0 1 0 9 -9"></path>
					</svg>
					<span class="ms-1">Sunburst</span>
				</button>
				<div class="collapse" id="sunburst-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/sunburst/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>
			

			<!-- Sankey -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#sankey-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-sankey" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M3 3v18h18"></path>
						<path d="M3 6h18"></path>
						<path d="M3 8c10 0 8 9 18 9"></path>
					</svg>
					<span class="ms-1">Sankey</span>
				</button>
				<div class="collapse" id="sankey-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/sankey/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/sankey/levels" class="link-dark d-inline-flex text-decoration-none">Level Styles</a></li>
					</ul>
				</div>
			</li>

			<!-- Heatmap -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#heatmap-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M5 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M19 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M19 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
					</svg>
					<span class="ms-1">Heatmap</span>
				</button>
				<div class="collapse" id="heatmap-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/heatmap/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/heatmap/year" class="link-dark d-inline-flex text-decoration-none">Daily (Year)</a></li>
						<li><a href="/example/heatmap/multi-year" class="link-dark d-inline-flex text-decoration-none">Multi Year</a></li>
						<li><a href="/example/heatmap/daily-visits" class="link-dark d-inline-flex text-decoration-none">Daily Visits</a></li>
					</ul>
				</div>
			</li>

			<!-- Funnel -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#funnel-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-triangle-inverted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M10.24 20.043l-8.422 -14.06a1.989 1.989 0 0 1 1.7 -2.983h16.845a1.989 1.989 0 0 1 1.7 2.983l-8.422 14.06a1.989 1.989 0 0 1 -3.4 0z"></path>
					</svg>
					<span class="ms-1">Funnel</span>
				</button>
				<div class="collapse" id="funnel-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/funnel/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Pictorial Bar -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#pictorialbar-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"></path>
					</svg>
					<span class="ms-1">Pictorial Bar</span>
				</button>
				<div class="collapse" id="pictorialbar-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/pictorial-bar/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Graph -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#graph-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-dots-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M5 7m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M16 15m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M18 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
						<path d="M6 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
						<path d="M9 17l5 -1.5"></path>
						<path d="M6.5 8.5l7.81 5.37"></path>
						<path d="M7 7l8 -1"></path>
					</svg>
					<span class="ms-1">Graph</span>
				</button>
				<div class="collapse" id="graph-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/graph/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/graph/force-layout" class="link-dark d-inline-flex text-decoration-none">Auto Layout (Force)</a></li>
					</ul>
				</div>
			</li>

			<!-- Parallel -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#parallel-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-pause" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M6 5m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
						<path d="M14 5m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
					</svg>
					<span class="ms-1">Parallel</span>
				</button>
				<div class="collapse" id="parallel-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/parallel/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Geo -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#geo-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M3 7l6 -3l6 3l6 -3v13l-6 3l-6 -3l-6 3v-13"></path>
						<path d="M9 4v13"></path>
						<path d="M15 7v13"></path>
					</svg>
					<span class="ms-1">Geo</span>
				</button>
				<div class="collapse" id="geo-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/geo/usa" class="link-dark d-inline-flex text-decoration-none">Map USA</a></li>
						<li><a href="/example/geo/flight-seats" class="link-dark d-inline-flex text-decoration-none">Flight Seats</a></li>
						<li><a href="/example/geo/belgium" class="link-dark d-inline-flex text-decoration-none">Map Belgium</a></li>
					</ul>
				</div>
			</li>

			<!-- Tree -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#tree-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-binary-tree" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M6 20a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z"></path>
						<path d="M16 4a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z"></path>
						<path d="M16 20a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z"></path>
						<path d="M11 12a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z"></path>
						<path d="M21 12a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z"></path>
						<path d="M5.058 18.306l2.88 -4.606"></path>
						<path d="M10.061 10.303l2.877 -4.604"></path>
						<path d="M10.065 13.705l2.876 4.6"></path>
						<path d="M15.063 5.7l2.881 4.61"></path>
					</svg>
					<span class="ms-1">Tree</span>
				</button>
				<div class="collapse" id="tree-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/tree/ltr" class="link-dark d-inline-flex text-decoration-none">Left To Right</a></li>
					</ul>
				</div>
			</li>

			<!-- Treemap -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#treemap-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-treemap" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
						<path d="M12 4v16"></path>
						<path d="M4 15h8"></path>
						<path d="M12 12h8"></path>
						<path d="M16 12v8"></path>
						<path d="M16 16h4"></path>
					</svg>
					<span class="ms-1">Treemap</span>
				</button>
				<div class="collapse" id="treemap-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/treemap/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Gauge -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#gauge-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-gauge" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
						<path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M13.41 10.59l2.59 -2.59"></path>
						<path d="M7 12a5 5 0 0 1 5 -5"></path>
					</svg>
					<span class="ms-1">Gauge</span>
				</button>
				<div class="collapse" id="gauge-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/gauge/temp" class="link-dark d-inline-flex text-decoration-none">Temperature</a></li>
					</ul>
				</div>
			</li>

			<!-- ThemeRiver -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#themeriver-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-area-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M20 18a1 1 0 0 1 .117 1.993l-.117 .007h-16a1 1 0 0 1 -.117 -1.993l.117 -.007h16z" stroke-width="0" fill="currentColor"></path>
						<path d="M15.22 5.375a1 1 0 0 1 1.393 -.165l.094 .083l4 4a1 1 0 0 1 .284 .576l.009 .131v5a1 1 0 0 1 -.883 .993l-.117 .007h-16.022l-.11 -.009l-.11 -.02l-.107 -.034l-.105 -.046l-.1 -.059l-.094 -.07l-.06 -.055l-.072 -.082l-.064 -.089l-.054 -.096l-.016 -.035l-.04 -.103l-.027 -.106l-.015 -.108l-.004 -.11l.009 -.11l.019 -.105c.01 -.04 .022 -.077 .035 -.112l.046 -.105l.059 -.1l4 -6a1 1 0 0 1 1.165 -.39l.114 .05l3.277 1.638l3.495 -4.369z" stroke-width="0" fill="currentColor"></path>
					</svg>
					<span class="ms-1">ThemeRiver</span>
				</button>
				<div class="collapse" id="themeriver-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/themeriver/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Chords -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#chords-collapse" aria-expanded="true">
 
                    <svg width="24" height="24" viewBox="0 0 176 176" class="icon icon-tabler icon-tabler-chart-area-filled" xmlns="http://www.w3.org/2000/svg" troke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> 
					@* <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-area-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> *@
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M87.9999 10.8165C99.0624 10.8165 109.995 13.2002 120.053 17.8053C130.112 22.4104 139.06 29.1288 146.288 37.503C105.486 72.7224 97.5426 108.853 119.809 157.939C109.734 162.509 98.7936 164.854 87.7311 164.816C76.6687 164.777 65.7444 162.355 55.7021 157.715C78.3106 108.786 87.9999 64.7164 87.9999 10.8165Z" fill="currentColor" fill-opacity="0.8" stroke-width="0"></path>
                        @* <path d="M146.288 37.503C155.955 48.7024 162.191 62.4496 164.25 77.1001C110.875 84.6015 70.5133 102.91 29.7113 138.13C20.0443 126.93 13.8083 113.183 11.7493 98.5327C65.1246 91.0313 105.486 72.7224 146.288 37.503Z" fill="currentColor" fill-opacity="0.8" stroke-width="0"></path>
                        <path d="M55.7021 157.715C49.0216 154.628 42.8181 150.6 37.2808 145.752C72.7842 105.197 66.9966 78.2003 17.9888 55.7628C21.0523 49.0715 25.0592 42.854 29.8873 37.2999C70.5661 72.6614 78.3105 108.786 55.7021 157.715Z" fill="currentColor" fill-opacity="0.8" stroke-width="0"></path> 
                        <path d="M11.7494 98.5327C10.2098 87.5779 11.0487 76.4199 14.2092 65.8184C65.8627 81.217 110.875 84.6015 164.251 77.1001C165.79 88.0549 164.951 99.2129 161.791 109.814C110.137 94.4158 65.1247 91.0313 11.7494 98.5327Z" fill="currentColor" fill-opacity="0.8" stroke-width="0"></path>  *@
                        <path d="M29.8875 37.2999C42.0673 23.2886 58.8992 14.1496 77.2837 11.5658C84.7851 64.9412 110.137 94.4158 161.791 109.814C156.487 127.606 144.934 142.882 129.259 152.83C100.378 107.32 70.5662 72.6614 29.8875 37.2999Z" fill="currentColor" fill-opacity="0.8" stroke-width="0"></path> 
                        <path d="M88 5.49998C88 4.74682 88.1547 4.0017 88.4545 3.31078C88.7543 2.61986 89.1928 1.99787 89.7428 1.48337C90.2928 0.968866 90.9426 0.572811 91.652 0.319753C92.3614 0.0666959 93.1152 -0.0379728 93.8666 0.012235C111.88 1.21579 129.087 7.93045 143.155 19.2456C157.222 30.5606 167.469 45.9286 172.506 63.2652C177.543 80.6017 177.125 99.0679 171.311 116.159C165.496 133.251 154.565 148.14 140.001 158.808C139.394 159.253 138.701 159.569 137.967 159.735C137.232 159.902 136.471 159.916 135.731 159.776C134.991 159.636 134.287 159.346 133.664 158.923C133.041 158.501 132.511 157.954 132.107 157.318L129.259 152.83C143.337 143.895 154.135 130.632 160.029 115.034C165.923 99.436 166.595 82.3463 161.943 66.3341C157.291 50.3218 147.567 36.2523 134.232 26.2407C120.898 16.2291 104.674 10.8165 88 10.8165V5.49998Z" fill="currentColor" stroke-width="0"></path> 
                        <path d="M122.005 162.781C122.316 163.466 122.483 164.209 122.496 164.962C122.508 165.715 122.366 166.463 122.077 167.158C121.789 167.854 121.361 168.483 120.819 169.007C120.278 169.53 119.635 169.937 118.929 170.202C104.966 175.444 89.8995 177.051 75.1446 174.872C60.3896 172.693 46.4306 166.8 34.5783 157.746C33.9799 157.289 33.4817 156.713 33.1146 156.056C32.7476 155.398 32.5195 154.672 32.4445 153.923C32.3696 153.173 32.4494 152.416 32.6789 151.699C32.9084 150.982 33.2829 150.319 33.779 149.753L37.2808 145.752C48.4124 155.497 62.1157 161.829 76.7515 163.99C91.3872 166.152 106.336 164.051 119.809 157.939L122.005 162.781Z" fill="currentColor" stroke-width="0"></path>
                        <path d="M25.6868 141.604C25.1167 142.096 24.4515 142.466 23.7326 142.69C23.0137 142.915 22.2564 142.989 21.5075 142.909C20.7586 142.829 20.0342 142.596 19.3791 142.224C18.724 141.852 18.1522 141.35 17.6992 140.748C10.0081 130.534 4.63537 118.765 1.95507 106.263C-0.725234 93.7603 -0.648751 80.8239 2.17919 68.3539C2.34576 67.6194 2.66142 66.9269 3.10659 66.3194C3.55175 65.7119 4.11696 65.2023 4.76715 64.8222C5.41735 64.4421 6.13869 64.1996 6.88646 64.1097C7.63423 64.0198 8.39248 64.0844 9.11424 64.2995L14.2092 65.8184C10.5168 78.2041 10.0015 91.3199 12.7107 103.957C15.4199 116.594 21.2664 128.346 29.7114 138.13L25.6868 141.604Z" fill="currentColor" stroke-width="0"></path> 
                        <path d="M13.155 53.5497C12.4702 53.2362 11.8571 52.7853 11.3537 52.2251C10.8503 51.665 10.4673 51.0073 10.2285 50.293C9.98962 49.5788 9.90002 48.823 9.96523 48.0727C10.0304 47.3224 10.2491 46.5934 10.6075 45.9311C16.6936 34.6858 25.1571 24.9018 35.4091 17.2602C45.6611 9.61866 57.4552 4.30301 69.9705 1.68328C70.7077 1.52897 71.4687 1.52771 72.2064 1.67958C72.9441 1.83144 73.6427 2.1332 74.259 2.56614C74.8753 2.99908 75.396 3.55399 75.7891 4.19646C76.1821 4.83893 76.439 5.55527 76.5438 6.3011L77.2837 11.5658C64.4852 13.3646 52.3453 18.3559 41.9829 26.0797C31.6206 33.8036 23.369 44.0116 17.9889 55.7628L13.155 53.5497Z" fill="currentColor" stroke-width="0"></path> 
					</svg>
					<span class="ms-1">Chords</span>
				</button>
				<div class="collapse" id="chords-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/chords/chord-style" class="link-dark d-inline-flex text-decoration-none">Chord style</a></li>
					</ul>
				</div>
			</li>



			<!-- Misc Concepts -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#misc-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
						<path d="M12 9h.01"></path>
						<path d="M11 12h1v4h1"></path>
					</svg>
					<span class="ms-1">Misc Concepts</span>
				</button>
				<div class="collapse" id="misc-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/misc/dataloader" class="link-dark d-inline-flex text-decoration-none">Data Loader</a></li>
						<li><a href="/example/misc/refresh" class="link-dark d-inline-flex text-decoration-none">Chart Refresh</a></li>
						<li><a href="/example/misc/toolbox" class="link-dark d-inline-flex text-decoration-none">Toolbox</a></li>
						<li><a href="/example/misc/parameters" class="link-dark d-inline-flex text-decoration-none">OnParameterSet</a></li>
						<li><a href="/example/misc/multi-axis" class="link-dark d-inline-flex text-decoration-none">Multi Axis</a></li>
						<li><a href="/example/misc/color-gradient" class="link-dark d-inline-flex text-decoration-none">Color Gradient</a></li>
						<li><a href="/example/misc/selection" class="link-dark d-inline-flex text-decoration-none">Selection</a></li>
						<li><a href="/example/misc/autosize" class="link-dark d-inline-flex text-decoration-none">Auto Size</a></li>
						<li><a href="/example/misc/memory-test" class="link-dark d-inline-flex text-decoration-none">Memory Test</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</nav>