<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
	<div class="position-sticky">

		<ul class="list-unstyled ps-0">

			<!-- See https://tabler-icons.io/ for icons -->

			<!-- Pie -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#pie-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-pie" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M10 3.2a9 9 0 1 0 10.8 10.8a1 1 0 0 0 -1 -1h-6.8a2 2 0 0 1 -2 -2v-7a.9 .9 0 0 0 -1 -.8"></path>
						<path d="M15 3.5a9 9 0 0 1 5.5 5.5h-4.5a1 1 0 0 1 -1 -1v-4.5"></path>
					</svg>
					<span class="ms-1">Pie</span>
				</button>
				<div class="collapse" id="pie-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/pie/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/pie/half-doughnut" class="link-dark d-inline-flex text-decoration-none">Half Doughnut</a></li>
						<li><a href="/example/pie/doughnut-rounded" class="link-dark d-inline-flex text-decoration-none">Doughnut Rounded</a></li>
						
					</ul>
				</div>
			</li>


			<!-- Line -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#line-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-line" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M4 19l16 0"></path>
						<path d="M4 15l4 -6l4 2l4 -5l4 4"></path>
					</svg>
					<span class="ms-1">Line</span>
				</button>
				<div class="collapse" id="line-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/line/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/line/stacked" class="link-dark d-inline-flex text-decoration-none">Stacked</a></li>
						<li><a href="/example/line/smooth" class="link-dark d-inline-flex text-decoration-none">Smooth</a></li>
					</ul>
				</div>
			</li>

			<!-- Area -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#area-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-area-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M20 18a1 1 0 0 1 .117 1.993l-.117 .007h-16a1 1 0 0 1 -.117 -1.993l.117 -.007h16z" stroke-width="0" fill="currentColor"></path>
						<path d="M15.22 5.375a1 1 0 0 1 1.393 -.165l.094 .083l4 4a1 1 0 0 1 .284 .576l.009 .131v5a1 1 0 0 1 -.883 .993l-.117 .007h-16.022l-.11 -.009l-.11 -.02l-.107 -.034l-.105 -.046l-.1 -.059l-.094 -.07l-.06 -.055l-.072 -.082l-.064 -.089l-.054 -.096l-.016 -.035l-.04 -.103l-.027 -.106l-.015 -.108l-.004 -.11l.009 -.11l.019 -.105c.01 -.04 .022 -.077 .035 -.112l.046 -.105l.059 -.1l4 -6a1 1 0 0 1 1.165 -.39l.114 .05l3.277 1.638l3.495 -4.369z" stroke-width="0" fill="currentColor"></path>
					</svg>
					<span class="ms-1">Area</span>
				</button>
				<div class="collapse" id="area-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/area/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/area/stacked" class="link-dark d-inline-flex text-decoration-none">Stacked</a></li>
						<li><a href="/example/area/timeseries" class="link-dark d-inline-flex text-decoration-none">TimeSeries</a></li>
					</ul>
				</div>
			</li>

			<!-- Bar -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#bar-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-bar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M3 12m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
						<path d="M9 8m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
						<path d="M15 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
						<path d="M4 20l14 0"></path>
					</svg>
					<span class="ms-1">Bar</span>
				</button>
				<div class="collapse" id="bar-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/bar/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/bar/stacked-h" class="link-dark d-inline-flex text-decoration-none">Stacked (Horizontal)</a></li>
						<li><a href="/example/bar/stacked-timeseries" class="link-dark d-inline-flex text-decoration-none">Stacked TimeSeries</a></li>
						<li><a href="/example/bar/simple-dataset" class="link-dark d-inline-flex text-decoration-none">Simple Dataset</a></li>
					</ul>
				</div>
			</li>

			<!-- Candlestick -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#candlestick-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-candle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M4 6m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
						<path d="M6 4l0 2"></path>
						<path d="M6 11l0 9"></path>
						<path d="M10 14m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
						<path d="M12 4l0 10"></path>
						<path d="M12 19l0 1"></path>
						<path d="M16 5m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
						<path d="M18 4l0 1"></path>
						<path d="M18 11l0 9"></path>
					</svg>
					<span class="ms-1">Candlestick</span>
				</button>
				<div class="collapse" id="candlestick-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/candlestick/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Scatter -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#scatter-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M3 3v18h18"></path>
						<path d="M9 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M19 7m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M14 15m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M10.16 10.62l2.34 2.88"></path>
						<path d="M15.088 13.328l2.837 -4.586"></path>
					</svg>
					<span class="ms-1">Scatter</span>
				</button>
				<div class="collapse" id="scatter-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/scatter/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/scatter/cluster" class="link-dark d-inline-flex text-decoration-none">Cluster</a></li>
						<li><a href="/example/scatter/punchcard" class="link-dark d-inline-flex text-decoration-none">Punch Card</a></li>
					</ul>
				</div>
			</li>

			<!-- Radar -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#radar-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-radar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M12 3l9.5 7l-3.5 11h-12l-3.5 -11z"></path>
						<path d="M12 7.5l5.5 4l-2.5 5.5h-6.5l-2 -5.5z"></path>
						<path d="M2.5 10l9.5 3l9.5 -3"></path>
						<path d="M12 3v10l6 8"></path>
						<path d="M6 21l6 -8"></path>
					</svg>
					<span class="ms-1">Radar</span>
				</button>
				<div class="collapse" id="radar-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/radar/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Sunburst -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#sunburst-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-arcs" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M16.924 11.132a5 5 0 1 0 -4.056 5.792"></path>
						<path d="M3 12a9 9 0 1 0 9 -9"></path>
					</svg>
					<span class="ms-1">Sunburst</span>
				</button>
				<div class="collapse" id="sunburst-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/sunburst/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>
			

			<!-- Sankey -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#sankey-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-sankey" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M3 3v18h18"></path>
						<path d="M3 6h18"></path>
						<path d="M3 8c10 0 8 9 18 9"></path>
					</svg>
					<span class="ms-1">Sankey</span>
				</button>
				<div class="collapse" id="sankey-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/sankey/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Heatmap -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#heatmap-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M5 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M19 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M19 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
					</svg>
					<span class="ms-1">Heatmap</span>
				</button>
				<div class="collapse" id="heatmap-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/heatmap/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/heatmap/year" class="link-dark d-inline-flex text-decoration-none">Daily (Year)</a></li>
						<li><a href="/example/heatmap/multi-year" class="link-dark d-inline-flex text-decoration-none">Multi Year</a></li>
						<li><a href="/example/heatmap/daily-visits" class="link-dark d-inline-flex text-decoration-none">Daily Visits</a></li>
					</ul>
				</div>
			</li>

			<!-- Funnel -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#funnel-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-triangle-inverted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M10.24 20.043l-8.422 -14.06a1.989 1.989 0 0 1 1.7 -2.983h16.845a1.989 1.989 0 0 1 1.7 2.983l-8.422 14.06a1.989 1.989 0 0 1 -3.4 0z"></path>
					</svg>
					<span class="ms-1">Funnel</span>
				</button>
				<div class="collapse" id="funnel-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/funnel/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Pictorial Bar -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#pictorialbar-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"></path>
					</svg>
					<span class="ms-1">Pictorial Bar</span>
				</button>
				<div class="collapse" id="pictorialbar-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/pictorial-bar/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Graph -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#graph-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-dots-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M5 7m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M16 15m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M18 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
						<path d="M6 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
						<path d="M9 17l5 -1.5"></path>
						<path d="M6.5 8.5l7.81 5.37"></path>
						<path d="M7 7l8 -1"></path>
					</svg>
					<span class="ms-1">Graph</span>
				</button>
				<div class="collapse" id="graph-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/graph/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
						<li><a href="/example/graph/force-layout" class="link-dark d-inline-flex text-decoration-none">Auto Layout (Force)</a></li>
					</ul>
				</div>
			</li>

			<!-- Parallel -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#parallel-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-pause" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M6 5m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
						<path d="M14 5m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
					</svg>
					<span class="ms-1">Parallel</span>
				</button>
				<div class="collapse" id="parallel-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/parallel/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Geo -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#geo-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M3 7l6 -3l6 3l6 -3v13l-6 3l-6 -3l-6 3v-13"></path>
						<path d="M9 4v13"></path>
						<path d="M15 7v13"></path>
					</svg>
					<span class="ms-1">Geo</span>
				</button>
				<div class="collapse" id="geo-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/geo/usa" class="link-dark d-inline-flex text-decoration-none">Map USA</a></li>
						<li><a href="/example/geo/flight-seats" class="link-dark d-inline-flex text-decoration-none">Flight Seats</a></li>
						<li><a href="/example/geo/belgium" class="link-dark d-inline-flex text-decoration-none">Map Belgium</a></li>
					</ul>
				</div>
			</li>

			<!-- Treemap -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#treemap-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-treemap" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
						<path d="M12 4v16"></path>
						<path d="M4 15h8"></path>
						<path d="M12 12h8"></path>
						<path d="M16 12v8"></path>
						<path d="M16 16h4"></path>
					</svg>
					<span class="ms-1">Treemap</span>
				</button>
				<div class="collapse" id="treemap-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/treemap/simple" class="link-dark d-inline-flex text-decoration-none">Simple</a></li>
					</ul>
				</div>
			</li>

			<!-- Gauge -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#gauge-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-gauge" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
						<path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
						<path d="M13.41 10.59l2.59 -2.59"></path>
						<path d="M7 12a5 5 0 0 1 5 -5"></path>
					</svg>
					<span class="ms-1">Gauge</span>
				</button>
				<div class="collapse" id="gauge-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/gauge/temp" class="link-dark d-inline-flex text-decoration-none">Temperature</a></li>
					</ul>
				</div>
			</li>



			<!-- Misc Concepts -->
			<li class="mb-1">
				<button class="btn btn-toggle d-inline-flex align-items-center border-0" data-bs-toggle="collapse" data-bs-target="#misc-collapse" aria-expanded="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
						<path d="M12 9h.01"></path>
						<path d="M11 12h1v4h1"></path>
					</svg>
					<span class="ms-1">Misc Concepts</span>
				</button>
				<div class="collapse" id="misc-collapse" style="">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5">
						<li><a href="/example/misc/dataloader" class="link-dark d-inline-flex text-decoration-none">Data Loader</a></li>
						<li><a href="/example/misc/toolbox" class="link-dark d-inline-flex text-decoration-none">Toolbox</a></li>
						<li><a href="/example/misc/parameters" class="link-dark d-inline-flex text-decoration-none">OnParameterSet</a></li>
						<li><a href="/example/misc/multi-axis" class="link-dark d-inline-flex text-decoration-none">Multi Axis</a></li>
						<li><a href="/example/misc/color-gradient" class="link-dark d-inline-flex text-decoration-none">Color Gradient</a></li>
						<li><a href="/example/misc/memory-test" class="link-dark d-inline-flex text-decoration-none">Memory Test</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</nav>