@page "/example/misc/autosize"

@using Vizor.ECharts;
@using Vizor.ECharts.Samples.Areas.Misc;

<PageHeader Title="AutoSize Pie Chart" SourceLink="@typeof(AutoSizePieChart)" />

<div class="row" style="border: red 1px solid">
	<span>Full Width</span>
	<br />
	<AutoSizePieChart/>
</div>

<div class="row mt-4">
	<div style="width: 450px; border: red 1px solid">
		<span>450px width</span>
		<br />
		<AutoSizePieChart/>
	</div>
</div>